.content {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    height: 80%;
    width:80%;
}

.content img {
    object-fit: cover;
    width:100%;
    height:100%;
}

.content p {
    margin-left: 10px; /* Add space between the image and the text (adjust as needed) */
}