.content , .blog_post {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    height: 90%;
    width: 90%;
    margin: auto;
}

img {
    object-fit: cover;
    width: 50%;
    height: 50%;
}

.content p {
    margin-left: 10px; /* Add space between the image and the text (adjust as needed) */
}

.Title {
    display: flex;
    justify-content: space-between;
}

.right-column {
    text-align: right;
}

.article-image {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.article-image img {
    display: block;
    max-width: 100%;
}

.caption {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    float: right;
    margin-left: 20px;
}