.content , .blog_post {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    height: 80%;
    width: 80%;
    margin: auto;
}

img {
    object-fit: cover;
    width: 50%;
    height: 50%;
}

.content p {
    margin-left: 10px; /* Add space between the image and the text (adjust as needed) */
}

.Title {
    display: flex;
    justify-content: space-between;
}

.right-column {
    text-align: right;
}